<div class="row" style="border-style: groove;border-color: coral;border-width: 7px;">
  <div class="col-sm-4" style="border-style: groove;
    border-color: coral;
    border-width: 7px;">Obrazek
    <img src="data:image/png;base64,{{backgroundsList[currentBackground].image_url}}"
         style="position:absolute; top:0; left:0; width: 100%;">
    <img class="e2e-trusted-url" src="data:image/png;base64,{{outlineColor.image_url}}"
         style="position:absolute; top:0; left:0;width: 100%;">
    <img class="e2e-trusted-url" src="data:image/png;base64,{{fillingColor.image_url}}"
         style="position:absolute; top:0; left:0;width: 100%;">
    <img src="data:image/png;base64,{{clothesList[currentCloth].image_url}}"
         style="position:absolute; top:0; left:0;width: 100%;">

    <img src="data:image/png;base64,{{headsList[currentHead].image_url}}"
         style="position:absolute; top:0; left:0;width: 100%;">

  </div>
  <div class="col" style="border-style: groove;
    border-color: coral;
    border-width: 7px;">
    <label for="outlineColor">
      Outline color:
      <input class="form-control" type="color" [(ngModel)]="outlineColor.color" id="outlineColor" name="outlineColor">
    </label>
    <button (click)="onClickOutlineColor()">
      change
    </button>
    <label for="fillingColor">
      Filling color:
      <input class="form-control" type="color" [(ngModel)]="fillingColor.color" id="fillingColor" name="fillingColor">
    </label>
    <button (click)="onClickFillingColor()">
      change
    </button>
    <button (click)="OnClickPreviousHead()">
      previous
    </button>
    <button (click)="OnClickNextHead()">
      next
    </button>

    <button (click)="OnClickPreviousBackground()">
      previous
    </button>
    <button (click)="OnClickNextBackground()">
      next
    </button>

    <button (click)="OnClickPreviousCloth()">
      previous
    </button>
    <button (click)="OnClickNextCloth()">
      next
    </button>

  </div>
</div>
