<div class="row">
  <div class="col-6 content-top-margin  d-inline-flex" style="border: #0a0b0d solid">
    <img class="img-fluid e2e-trusted-url" src="data:image/png;base64,{{backgroundsList[currentBackground].image_url}}"
         style="position:absolute; top:0; left:0;">
    <img class="img-fluid e2e-trusted-url" src="data:image/png;base64,{{outlineColor.image_url}}"
         style="position:absolute; top:0; left:0">
    <img class="img-fluid e2e-trusted-url" src="data:image/png;base64,{{fillingColor.image_url}}"
         style="position:absolute; top:0; left:0">
    <img class="img-fluid e2e-trusted-url"
         src="data:image/png;base64,{{clothesList[currentCloth].image_url}}"
         style="position:absolute; top:0; left:0">

    <img class="img-fluid e2e-trusted-url"
         src="data:image/png;base64,{{headsList[currentHead].image_url}}"
         style="position:absolute; top:0; left:0">

  </div>
  <div class="col-auto content-top-margin bg-dark">
      <input class="myslak-form form-control color-btn content-form-margin-top" type="color" [(ngModel)]="outlineColor.color" (change)="onClickOutlineColor()"
             id="outlineColor" name="outlineColor"/>
      <input class="myslak-form form-control color-btn" type="color" [(ngModel)]="fillingColor.color" (change)="onClickFillingColor()"
             id="fillingColor" name="fillingColor"/>
    <div>
      <button  class="myslak-form" (click)="OnClickPreviousHead()">
        previous
      </button>
      <button class="myslak-form" (click)="OnClickNextHead()">
        next
      </button>
    </div>
    <div>
      <button class="myslak-form" (click)="OnClickPreviousBackground()">
        previous
      </button>
      <button class="myslak-form" (click)="OnClickNextBackground()">
        next
      </button>
    </div>
    <div>
      <button class="myslak-form" (click)="OnClickPreviousCloth()">
        previous
      </button>
      <button class="myslak-form" (click)="OnClickNextCloth()">next</button>
    </div>
    <button class="myslak-form content-form-margin-bottom" (click)="OnClickSaveMyslak()">
      Download
    </button>
  </div>


</div>
