/* You can add global styles to this file, and also import other style files */
.row > div{
        margin-bottom: 105px;
    }


.myslak-form {
  margin-bottom: 10px;
}

.color-btn {
  margin-top: 10px;
}

.content-top-margin {
  margin-top: 20px;
}

