/* You can add global styles to this file, and also import other style files */
.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
